body {background-color: #F8FAAC ; margin: 0;}
header { text-align: center; }
header img{border-radius: 390px;width: 390px;border:10px solid #FF5733;}
header{font-size: 60px;color: #FF5733;}
main img {border-radius: 700px;width: 700px;}
main {text-align: center;}

